.prices {
  margin: 0 auto;

  &_list {
    @include pageGrid;

    background-color: #262435;
    padding: 18px 10px;
    margin: 0 auto;
    border-radius: 10px;
    max-height: 560px;
    width: 280px;
    overflow: auto;
    position: relative;

    @include onTablet {
      width: 575px;
    }

    @include onDesktop {
      width: $max-content-width;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &_item {
    height: 170px;
    background-image: url("../images/price-bg.png");
    background-size: cover;
    background-position: center;
    grid-column: span 1;

    @include onTablet {
      height: 225px;
    }

    @include onDesktop {
      height: 300px;
    }
  }

  &_content {
    padding: 20px 13px 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;

    @include onTablet {
      padding: 30px 16px 20px;
      gap: 15px;
    }

    @include onDesktop {
      padding: 38px 33px 15px;
      gap: 25px
    }
  }

  &_img-multiply {
    position: absolute;
    width: 96px;
    height: 78px;

    @include onTablet {
      width: 130px;
      height: 100px;
    }

    @include onDesktop {
      width: 160px;
      height: 130px;
    }
  }

  &_img {
    width: 87px;
    height: 48px;
    align-self: center;

    @include onTablet {
      width: 110px;
      height: 60px;
    }

    @include onDesktop {
      width: 150px;
      height: 85px;
    }
  }

  &_value {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &_count {
      font-size: 20px;
      font-weight: 600;

      @include onTablet {
        font-size: 26px;
      }

      @include onDesktop {
        font-size: 30px;
        font-weight: 700;
      }
    }

    &_name {
      font-size: 12px;

      @include onTablet {
        font-size: 14px;      }

      @include onDesktop {
        font-size: 16px;
      }
    }
  }

  &_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(104, 47, 189), rgb(203, 76, 188));
    border-radius: 25px;
    color: $main-text-color;
    width: 100%;
    height: 27px;
    padding-inline: 10px;

    font-size: 11px;
    font-weight: 500;

    @include onTablet {
      height: 35px;
      font-size: 14px;
    }

    @include onDesktop {
      padding-inline: 30px;
      height: 47px;
      font-size: 16px;
    }

    &-right {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;
    }

    &-currency {
      color: #21CC14;
    }
  }
}